.brands_container {
  position: relative;
  width: 100vw; /* Stretch from 0 to 100% of the viewport width */
  left: 50%; /* Align at the center */
  transform: translateX(-50%); /* Shift back to span full width */
  background-color: black; /* Black background for badge */
  color: white; /* White text for contrast */
  margin: 10px 0; /* No margin */
  padding: 0.5rem 0; /* Vertical padding for spacing */
  box-sizing: border-box;

  ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    justify-content: space-between; /* Center-align all items horizontally */
    gap: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    max-width: 78rem;
    margin: 0 auto;
    padding: 10px;

    @media (max-width: 280px) {
      display: block;
      white-space: wrap;
    }

    @media (max-width: 440px) {
      padding: 1rem 0.5rem;
      text-wrap: wrap;
      gap: 10px;
    }

    li {
      font-size: 33px;
      text-transform: uppercase;
      text-align: center;
      text-wrap: nowrap;
      color: white;

      @media (max-width: 604px) {
        text-wrap: wrap;
        &:nth-last-child(1n) {
          flex: 1 1 25%;
        }
      }
      @media (max-width: 800px) {
        &:last-child {
          flex: 1 1 25%;
        }
      }
    }
  }
}
