.navbar_menu_container {
  display: block;
  min-width: fit-content;

  @media (max-width: 639px) {
    display: none;
  }
  ul {
    display: flex;
    gap: 24px;

    li {
      text-transform: capitalize;
    }
  }
}
