.viewAll {
  display: block;
  padding: 0.5rem;
  width: 140px;
  border-radius: 62px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
}

.expended {
  transition: margin 0.3s ease; // Smooth transition for margin
  margin-top: auto; // Push button to the bottom dynamically
  margin: 10px auto;
  background: var(--background-container);
}
