.footer {
  margin-top: 20px;
  margin-bottom: 10px;

  @media (max-width: 719px) {
    position: relative;
    top: 100%;
    bottom: 0;
    min-height: 100%;
    margin: 0 10px;

    // margin-top: auto;
  }
}
